# config/WPS-4.6.0-custom.eb.j2
import os

name = 'WPS'
version = '{{ wps_git_tag }}' # Inyección directa limpia

homepage = 'https://www.mmm.ucar.edu/models/wrf'
description = "WPS compiled via native Git cloning with commit-level checksum validation."

toolchain = {'name': 'foss', 'version': '2024a'}
toolchainopts = {'opt': True}

source_urls = ['{{ wps_git_repo }}/archive/refs/tags/']
sources = ['%s.tar.gz' % version]
# Abort if SHA256 does not match
checksums = ['{{ wps_git_sha256 }}']

buildtype = "dmpar"
versionsuffix = '-%s' % buildtype
builddependencies = [('Perl', '5.38.2')]
dependencies = [
    ('WRF', '4.6.1', versionsuffix),
    ('JasPer', '4.2.4'),
    ('netCDF', '4.9.2'),
    ('netCDF-Fortran', '4.6.1'),
    ('zlib', '1.3.1'),
    ('libpng', '1.6.43'),
]
moduleclass = 'geo'

local_src_folder = "WPS-{{ wps_git_tag.lstrip('v') }}"
sanity_check_paths = {
    'files': [
        '%s/geogrid.exe' % local_src_folder,
        '%s/metgrid.exe' % local_src_folder,
        '%s/ungrib.exe' % local_src_folder
    ],
    'dirs': ['%s/util' % local_src_folder]
}
